#taxResult{
    background-color: white;
    margin: 10px;
    margin-left: 0px;
    margin-top: 25px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
    width: 444px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.type_info {
    display: flex;
    flex-direction: column;
    width: 175px;
    padding-left: 10px;
    justify-content: flex-start;
}

.tax_paid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}


.red_nd_perc {
    display: flex;
    align-self: flex-end;
    transform: translateY(18px);
}


.red_tp {
    font-size: 25px;
    color: #A32F2F;
    font-weight: bold;
    align-self: center;
    margin-right: 5px;
    margin-bottom: 5px;
}


.percentage {
    font-size: 39px;
    color: #C7C7C7;
    font-weight: bold;
    margin-left: 15px;
    transform: translateY(-5px);
}

.final_price {
    font-size: 65px;
    color: #333333;
    font-weight: bold;
    text-shadow: 0px 1px 7px rgba(0, 0, 0, .08);
}

.ai_pt {
    font-size: 18px;
    font-weight: 500;
    color: #D3D3D3;
    padding-left: 10px;
    justify-content: flex-start;
    transform: translate(-8px, 10px);
}

.type_name {
    font-size: 18px;
    transform: translateY(-10px);
}

.ai_star {
    transform: translate(114px, -23px);
}

.red_tr {
    font-size: 18px;
}

.tax_rate{
    font-size: 18px;
    transform: translate(80px, -21px);
}