body {
    background-color: #FAFAFF;
    font-family: 'Inter';
  }

h1 {
    font-weight: 700;
    font-size: 44px;
    /* text-shadow: 0px 1px 7px rgba(0, 0, 0, .15); */
    filter: drop-shadow(0px 1px 7px rgba(0, 0, 0, 0.12));
}

p {
    text-shadow: 0px 1px 7px rgba(0, 0, 0, .08);
}


.page {
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: 982px;
}


.content{
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    padding-left: 60px;
}


.web_intro{
    margin: 10px;
}

.entry {
    background-color: white;
    margin: 10px;
    margin-left: 0px;
    font-family: Arial;
    border-radius: 3vmin;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-style: solid;
    border-color: rgba(231, 231, 231, 0.8);
    border-width: 2px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    overflow: hidden; /* Prevent overflow */
}

form {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: contents; /* Make the form behave as part of the grid */
}

.product_nd_type {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: lightblue; /* Add some padding for spacing */
}

.price_nd_quantity {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: lightpink;
}

.destination {
    background-color: lightblue;

}

.tax_paid{
    background-color: lightpink;
    margin: 10px;
}

.map{
    background-color: lightpink;
}

.page2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 982px;
}


.history {
    background-color: rgb(79, 128, 208);
    display: grid;
    grid-template-rows: 1fr 4fr .5fr;

}

.data_visualisation {
    background-color: rgb(223, 120, 223);
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.filter {
    background-color: rgb(79, 128, 208);
    margin: 10px;
}

.pie_chart {
    background-color: rgb(79, 128, 208);
    margin: 10px;

}

.title {
    background-color: rgb(223, 120, 223);
    margin: 10px;
}

.records {
    background-color: rgb(223, 120, 223);
    margin: 10px;

}

.save {
    background-color: rgb(223, 120, 223);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#myChart {
    max-width: 100%;
    max-height: 100%;
}

#captureBtn{
    margin-right: auto; 
}

.scene-container .clickable {
    cursor: pointer;
  }
