<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Tax</title>
    <link rel="stylesheet" href="static/Main.css">
</head>

<body>
    <div class = 'page'> 
        <div class = "content"> 
            <div class = 'web_intro'> 
                <h1> US Sales Tax Calculator</h1>
                <p> lorem ipsum ai ai ipsum ai predicative</p>
            </div>
            <div class = 'entry'> 
                <form action="/" method="POST">
                    <label for="State">Enter State</label>
                    <input type="text" id="State" name="State" required>
                    <br><br>
                
                    <label for="Price">Enter Price</label>
                    <input type="price" id="Price" name="Price" required>
                    <br><br>

                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class = 'tax_paid'> </div>
        </div>
        <div class = "map"> </div>
    </div>
</body>
</html>
