<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Tax</title>
    <link rel="stylesheet" href="static/Main.css">
</head>

<body>
    <div class = 'page'> 
        <div class = "content"> 
            <div class = 'web_intro'> 
                <h1> US Sales Tax Calculator</h1>
                <p> lorem ipsum ai ai ipsum ai predicative</p>
            </div>
            <div class = 'entry'> 
                <form action="/" method="post">
                    <input type="text" name="State">
                    <input type="submit" value="Submit">
                </form>
                <form action="/" method="post">
                    <input type="text" name="Price">
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class = 'tax_paid'> </div>
        </div>
        <div class = "map"> </div>
    </div>
</body>
</html>
