<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Tax</title>
    <link rel="stylesheet" href="static/Main.css"/>
</head>
<form action="/" method="post">
    <br>
    <input type="text" name="State">
    <br>
    <input type="submit" value="submit">
</form>
<body>
    <div class = "page"> 
        <div class = "content"> 
            <p>hai hai</p>
        </div>
        <div class = "map"> </div>
    </div>
</body>
</html>
